<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:frigate:server">
		<parameter name="ipaddress" type="text" required="true">
			<label>IP Address</label>
			<context>server</context>
			<description>IP Address of Frigate Server </description>
		</parameter>
		<parameter name="port" type="integer">
			<label>Server Port</label>
			<description>Sever Connection port, the typical
				ports is 5000.</description>
			<context>server</context>
			<default>5000</default>
		</parameter>
		<parameter name="mqttipaddress" type="text">
			<label>Broker Hostname/IP</label>
			<description>The IP/Hostname of the MQTT broker</description>
			<context>mqtt</context>
		</parameter>

		<parameter name="mqttport" type="integer">
			<label>Broker Port</label>
			<description>The port is optional, if none is provided, the typical
				ports 1883 and 8883 (SSL) are used.</description>
			<context>mqtt</context>
			<default>1883</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:frigate:camera">
		<parameter name="name" type="text" required="true">
			<label>Camera Name</label>
			<description>Name of Camera</description>
		</parameter>
		<parameter name="imagerefresh" type="integer" required="true">
			<label>Camera Refresh</label>
			<description>Delay Between New Image Capture in Sec</description>
			<default>30</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
